@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(14, 14, 14);
    text-transform: uppercase;
    color: white;
}

legend {
    font-size: 2.5rem;
    font-family: 'Poiret One', cursive;
}


.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao {
    margin-top: 30px;
}

button {
    width: 100%;
}

fieldset {
    border-radius: 20px;
    margin: 50px;
    padding: 50px;
}

.x {
    display: flex;
    flex-direction: column;
    width: 10%;
    margin: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.xL {
    background: linear-gradient(to bottom, #2500ac, #1943ff);
    width: 100%;
    text-align: center;
    padding: 20px;
    height: 80px;
    border-radius: 10px;
}

.container {
    padding: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.6rem;
    font-family: 'Poiret One', cursive;
}

input.form-control {
    background-color: #212529;
    border-color: #0c0c0c;
    color: white;
}

input.form-control:focus {
    background-color: #16191b;
    border-color: #16191b00;
    color: white;
}

@media (max-width: 768px) {
    fieldset {
        margin: 20px;
        padding: 20px;
    }

    .container {
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0px;
    }

    .x {
        margin: 40px;
    }

    .xL {
        width: 80px;
    }

    h1 {
        font-size: 1.3rem;
    }
}